.SyllabAnalysis{
    border: 1px solid #EBF0F5;
    height: auto;
    /* width: 25%; */
    border-radius: 10px;
    padding: 30px 30px 30px 30px;
    /* margin-top: 75px; */
    /* margin-left: 70.5%; */
}

.testTags{
    text-align: left;
    font-family: 'DM Sans';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 21px;
    letter-spacing: -0.02em;
    color: #566474;
    width: 70%;
}

.Topics{
    margin-bottom: 4px;
}

.percentage{
    margin: 0px 0px 0px 94px;
    font-family: 'DM Sans';
    font-style: normal;
    font-weight: 700;
    font-size: 16px;
    line-height: 28px;
    letter-spacing: -0.02em;
}

div.SyllabAnalysis div:nth-child(2){
    color: #438AF6;
}

div.SyllabAnalysis div:nth-child(3){
    color: #FF9142;
}

div.SyllabAnalysis div:nth-child(4){
    color: #FB5E5E;
}

div.SyllabAnalysis div:nth-child(5){
    color: #2EC971;
}

.Syllabheader{
    width: 166px;
    height: 28px;
    font-family: 'DM Sans';
    font-style: normal;
    font-weight: 700;
    font-size: 16px;
    line-height: 28px;
    letter-spacing: -0.02em;
    color: #1E272E;
}