.SyllabAnalysis{
    border: 1px solid #EBF0F5;
    border-radius: 10px;
    padding: 20px;
    margin-top: 30px;
}

@media screen and (min-width:768px) and (max-width:1400px) {
    .SyllabAnalysis{
        margin-right: 20px;
    }
}

@media screen and (min-width:1400px) {
    .SyllabAnalysis{
        margin-top: 60px;
    }
}
.testTags{
    text-align: left;
    font-family: 'DM Sans';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    color: #566474;
    width: 70%;
}

div.SyllabAnalysis div:nth-child(2){
    color: #438AF6;
}

div.SyllabAnalysis div:nth-child(3){
    color: #FF9142;
}

div.SyllabAnalysis div:nth-child(4){
    color: #FB5E5E;
}

div.SyllabAnalysis div:nth-child(5){
    color: #2EC971;
}

.Syllabheader{
    font-family: 'DM Sans';
    font-style: normal;
    font-weight: 700;
    font-size: 16px;
    color: #1E272E;
    /* border:2px red solid */
}

