.SkillContainer{
    width: auto;
    height: auto;
    display: grid;
    grid-template-columns: 10% 80% 10%;
    border: 1px solid #EBF0F5;
    border-radius: 10px;
    padding: 20px;
}

@media screen and (min-width:320px) {
    .SkillContainer{
        display: grid;
        grid-template-columns: 20% 80%;    
    }

    .ModalToggler{
        margin: 1em auto;
        display: block;
    }   

}

@media screen and (min-width:768px) {
    .SkillContainer{
        display: grid;
        grid-template-columns: 10% 70% 20%;    
    }

    .ModalToggler{
        margin: 0em auto;
        /* display: block; */
    }   

}



.contentSkill{
    text-align: left;
    /* margin: 0px 0px 0px 20.44px; */
    border: 2px red solid;
}

.SkillName{
    font-family: 'DM Sans';
    font-style: normal;
    font-weight: 700;
    font-size: 16px;
    line-height: 21px;
    letter-spacing: -0.02em;
    color: #222F3E;
}

.SkillDetails{
    font-family: 'DM Sans';
    font-style: normal;
    font-weight: 400;
    font-size: 12px;
    line-height: 180%;
    letter-spacing: -0.02em;
    color: #566474;
}

.ModalToggler{
    padding: 10px;
    background: #142683;
    border-radius: 5px;
    border-color: #142683;
    color: #FFFFFF;
    font-weight: 700;
    border: 2px red solid;
}