.Sidebar{
    display: flex;
    flex-direction: column;
    margin-right: 30px;
    padding-right: 20px;
    border-right: 1px solid #EBF0F5;
    height: 100%;
}

.sideDashboard{
    position: relative;
    /* margin: 0px 0px 0px 20px;  */
    font-family: 'DM Sans';
    font-style: normal;
    line-height: 28px;
    letter-spacing: -0.02em;
    padding:10px 0px 10px 10px;
}

.Navlink1{
    margin-top: 50px;
}

.Navlink2{
    margin-top: 10px;
}

.DashboardIcon{
    position: absolute;
    margin: -1px 0px 0px -5px;
}

.line{
    margin: 0px 0px 0px 3px;
}

.dash{
    margin: 0px 0px 0px 21px;
}

@media screen and (min-width:1024px)  and (max-width:1400px) {
    .dash{
        margin: 0px 0px 0px 15px;
        font-size: 0.9em;
    }
    .intern{
        margin: 0px 0px 0px 21px;
        font-size: 0.8em;
    }
}


.sideSkill{
    position: relative;
    /* margin: 0px 0px 0px 20px;  */
    font-family: 'DM Sans';
    font-style: normal;
    line-height: 28px;
    letter-spacing: -0.02em;
    padding:10px 0px 10px 10px;
}

.SkillIcon{
    position: absolute;
    margin: 0px 0px 0px 30px;
}

.Badge{
    position: relative;
    margin: -23px 0px 0px 0px;
}

.SkillIcon1{
    position: absolute;
    margin: -5px 0px 0px -2px;
}

.Badge1{
    position: relative;
    margin: -21.5px 0px 0px 0.5px;
}

.sideInternships{
    position: relative;
    /* margin: 0px 0px 0px 20px;  */
    font-family: 'DM Sans';
    font-style: normal;
    line-height: 28px;
    letter-spacing: -0.02em;
    padding:10px 0px 10px 20px;
}

.internIcon{
    position: absolute;
    margin: 0px 0px 0px -40px;
}

.internIcon2{
    position: relative;
    margin: -35px 0px 0px 5px;
}

.intern{
    margin: 0px 0px 0px 20px;
}