.QuickStats{
    border: 1px solid #EBF0F5;
    border-radius: 10px;
    padding: 20px;
    margin-top: 30px;
}

@media screen and (min-width:1400px) {
    .QuickStats{
        margin-top: 91px;
    }
}

.scoreContent { grid-area : score ;}
.percentileContent { grid-area : percentile ;}
.rankContent { grid-area : rank ;}

.QuickStatsHeading{
    width: 20%;
    height: auto;
    font-family: 'DM Sans';
    font-style: normal;
    font-weight: 700;
    color: #1E272E;
}

.QuickStatsContent{
    display: grid;
    grid-template-areas:'rank percentile score' ;
    margin: 20px 0px;
}

@media screen and (min-width:320px) {
    .QuickStatsContent{
        grid-template-areas:'rank rank percentile' 'score score score' ;
    }
    .QuickStatsHeading{
        width: 100%;
        text-align: center;
    }
}

@media screen and (min-width:425px) {
    .QuickStatsContent{
        grid-template-areas:'rank rank' 'percentile percentile' 'score score score' ;
    }
    
    .QuickStatsHeading{
        text-align: left;
    }
}

@media screen and (min-width:768px) {
    .QuickStatsContent{
        grid-template-areas:'rank percentile score' ;
    }
}

.rankContent , .percentileContent , .scoreContent{
    display: flex;
    flex-direction:row;
    justify-content: center;
    padding: 10px;
}

.Ellipse{
    position: absolute;
}

.Trophy{
    position: relative;
    text-align: center;
    margin: -40px 0px 0px 0px;  
}

.rankIcon , .percentileIcon , .scoreIcon{
    margin: 0px 55px 0px 0px;
}

.rank , .percentile, .score{
    height: 100%;
    display: flex;
    flex-direction: column;
}

.rankNum , .PercentileNum , .ScoreNum{
    font-family: 'DM Sans';
    font-style: normal;
    font-weight: 700;
    font-size: 22px;
    color: #1E272E;
}

.rankName , .PercentileName , .ScoreName{
    font-family: 'DM Sans';
    font-style: normal;
    font-weight: 400;
    font-size: 12px;
    color: #9EAAB7;
}
