.Grid{
    display: grid;
    /* overflow: hidden; */
}

@media screen and (min-width:320px) {
    .SidebarContainer{
        display: none;
    }
    .Grid{
        grid-template-columns: auto;
    }    
}

@media screen and (min-width:800px) {
    .SidebarContainer{
        display: block;
    }
    .Grid{
        grid-template-columns: 15% 85%;
    }
}
