.GraphBox{
    border: 1px solid #EBF0F5;
    padding: 20px;
    border-radius: 10px;
    margin-top: 30px;
}

.GraphHead{
    width: 142px;
    height: 28px;
    font-family: 'DM Sans';
    font-style: normal;
    font-weight: 700;
    font-size: 16px;
    line-height: 28px;
    letter-spacing: -0.02em;
    color: #1E272E;
    /* border: 1px solid red; */
}

@media screen and (min-width:320px) and (max-width:424px) {
    .GraphHead{
        width: 100%;
        text-align: center;
    }
    .GraphIcon{
        display: none;
    }

    .GraphData{
        display: grid;
        grid-template-columns: auto;
    }
}

@media screen and (min-width:425px) and (max-width:768px) {
    .GraphHead{
        width: 100%;
        text-align:left;
    }
    .GraphIcon{
        display: none;
    }

    .GraphData{
        display: grid;
        grid-template-columns: auto;
    }
}

.GraphData{
    padding: auto;
    position: relative;
    display: grid;
    grid-template-columns: 95% 5%;
    justify-content: space-between;
    /* border: 1px solid red; */
}

.PercentileShow{     
    font-family: 'DM Sans';
    font-style: normal;
    font-weight: 700;
    font-size: 14px;
    letter-spacing: -0.02em;
    color: #566474;
    text-align: left;
    position: relative;
    /* border: 1px solid red; */
}

.GraphIcon{
    /* margin: 10px 80px 0px auto; */
    justify-content: end;
}

.Ellipse1{
    position: absolute;
}

.Trophy1{
    position: relative;
    text-align: center;
    margin: -40px -10px 0px -10px;  
}

.LinePercentile{
    width: 20%;
    height: 20%;
    /* border: 1px solid red; */
}